/**
  |============================
  | Common styles
  |============================
*/
:root {
  --brand-color: #434455;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #4d5ae5;
  color: #434455;
  background-color: #ffffff;
}

/**
  |============================
  | Header style
  |============================
*/

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.feader-studio {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.header-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.header-studio:hover,
.header-studio:focus {
  color: #404bbf;
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  list-style: none;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

/**
  |============================
  | Main styles
  |============================
*/

.hero-font {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}

.hero-background {
  background-color: #2e2f42;
}

.list {
  list-style: none;
}

.section1-list {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.text1-list {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.section2-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
}

.section3-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-decoration: none;
}

.name-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.posission-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.backteam {
  background-color: #f4f4fd;
}

.backteam-list {
  background-color: #ffffff;
}

/**
  |============================
  | Footer styles
  |============================
*/

.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-background {
  background-color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
}

/**
  |============================
  | Portfolio-styles
  |============================
*/
.all-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.all-list:hover,
.all-list:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.website-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.website-list:hover,
.website-list:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.app-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.app-list:hover,
.app-list:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.design-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.design-list:hover,
.design-list:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.marketing-list {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.marketing-list:hover,
.marketing-list:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.section2-maintext {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.section2-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.list {
  list-style: none;
}

.port-back {
  background-color: #e7e9fc;
}

.port-backphoto {
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}
